
body{
  background: #e6d307;
  background: -webkit-radial-gradient(center, #aad10e, #302b63, #24243e);
  background: -moz-radial-gradient(center, #dcc00a, #302b63, #24243e);
  background: radial-gradient(ellipse at center, #c2ea0c, #302b63, #24243e);
}
.container{
    width: 1280px;
    margin: auto;
}
.quotes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.inner-quotes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 900px;
    text-align: center;
    min-height: 400px;
    padding: 0px 25px;
    color: gray;
    border-radius: 10px;
    background-color: #cfea55;
    border: 10px solid #0f0c29;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.9);
}
.inner-quotes-container p{
    font-size: 1.5rem;
    color: black;
}
  
.inner-quotes-container h3{
    font-size: 2rem;
    color: black;
    font-family: 'Dancing Script', cursive;
}
  
button{
    background: #f54106;
    color: rgb(207, 238, 11);
    border: 1px solid #302b63;
    padding: 10px;
    outline: none;
}
.quote-btn{
    padding-top: 30px;
}


